$background: #3b3a36;
$headers: #e9ece5;

body{
  background-image: url('/images/underwater.jpg');
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

header{
  top: 0;
  left: 0;
  height: 150px;
  padding: 15px;
  z-index: 9;
  width:100%;
  display: flex;
  justify-content:center;
  align-items: center;

  .appName{

    color: $headers;
    font-size: 60px;
    justify-content:center;
    align-text:center;

    #numbertwo {
      font-size: 20px;
    }

  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

body,
html {
  height: 100%;
}

.map {
  width: 100%;
  height: 69%;
}

.map-application {
  height: 100%;
  padding-top: 50px;
}

.css-icon {

}

.gps_ring { 
    border: 3px solid #911;
     -webkit-border-radius: 30px;
     height: 18px;
     width: 18px;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    /*opacity: 0.0*/
}

@-webkit-keyframes pulsate {
        0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
        50% {opacity: 1.0;}
        100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

