$background: #3b3a36;
$headers: #3b3a36;
$wave1: #D1FAD7;
$wave2: #16C72E;
$wave3: #fae596;
$wave4: #EEE966;
$wave5: #F4A09C;
$wave6: #E83A30;

header {
  text-align: center;

  .appName {
    font-size: 72px;
    color: rgba(0,0,0,.1);
    letter-spacing: 4px;
    text-shadow: 1px 4px 6px #ffe9ae, 0 0 0 rgba(0,0,0,.2), 1px 4px 6px #ffe9ae;
    margin: 0;
    padding: 0;
  }

  .appSubheading {
    font-size: 24px;
    color: rgba(0,0,0,.1);
    letter-spacing: 2px;
    text-shadow: 1px 4px 6px #ffe9ae, 0 0 0 rgba(0,0,0,.2), 1px 4px 6px #ffe9ae;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#main{
  padding-top: 50px;
  height: 100%;
  // background-color: rgba(233, 236, 229, 0.7);
  background-color: rgba(255 ,233, 174, .85);
}

body,
html {
  height: 100%;
  // background-image: url('/images/underwater.jpg');
  background: url('/images/sand-text.jpg') repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.map {
  width: 80%;
  height: 80%;
  box-shadow: 10px 10px 5px grey;
  margin: 0 auto;
  border: 10px solid white;
}

.map-application {
  height: 100%;
  padding-top: 50px;
}

.gps_ring {
  background: $wave6;
  border-radius: 30px;
  height: 18px;
  width: 18px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  &.wave1 {
    height: 18px;
    width: 18px;
  }
  &.wave2 {
    height: 22px;
    width: 22px;
  }
  &.wave3 {
    height: 26px;
    width: 26px;
  }
  &.wave4 {
    height: 30px;
    width: 30px;
  }
  &.wave5 {
    height: 34px;
    width: 34px;
  }
  &.wave6 {
    height: 38px;
    width: 38px;
  }
}

.custom-popup {
  color: #FDF5E6;
  // font-weight: bold;
}

.help-text {
  align: top;
  // background: #fff;
  color: #8B6914;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}

