body {
  background-color: RGBA(43, 44, 44, 1.00);
  font-family: 'Roboto';
  height:auto;
  margin:0;
}

#intro {
  opacity:0.0;
  position: fixed;
  height:100%;
  width:100%;
  background-color: white;
  color:RGBA(43, 44, 44, 1.00);
  text-align: center;
  z-index: 3;
  visibility: hidden;
  animation: fadeOut 3.5s ease;
}

#introText{
  margin-top: 20%;
}

#cityInfo{
  z-index: 1;
  position: absolute;
  width: 125px;
  background-color: RGBA(37, 37, 37, .0);
  color: white;
  padding: 10px 20px 10px 15px;
  margin-left: 80%;
  border-bottom-left-radius: 10px;
  animation: in-n-out 5s   normal ease-out;
  -webkit-animation: in-n-out 5s   normal ease-out;
  right: 0px;
}

#name{
  font-size: 20px;
}

#long{
  font-size: 18px;
}

#lat{
  font-size: 18px;
  padding-bottom: 2px;
}

#container {
  margin-top: 30%;
  height: 275px;
  width: 1000px;
  background-color: rgba(255,255,255, 0.0);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

#sun {
  height: 60px;
  width: 60px;
  margin-top: -250px;
  margin-left: -900px;
  border-radius: 50%;
  background-color: yellow;
  z-index: 5;
}

#water {
  position: relative;
  flex: none;
  width: 1000px;
  height: 100px;
  background-color: RGBA(0, 50, 150, 1.00);
  transition: height .4s ease;
  order: 2;
  z-index: 2;
}

#sand{
  margin-top: -420px;
  margin-left: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 0px solid transparent;
  border-left: 900px solid transparent;
  border-bottom: 400px solid #FFECAC;
  z-index: 0;
  opacity: .7;
}

#sky{
  width: 900px;
  height:900px;
  background-color: red;
  position: fixed;
}

.waveContainer {
  flex: none;
  align-self: flex-start;
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 350px;
  order:1;
}

#ocean{
  position:relative;
  width:1000px;
  min-height:80%;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, rgb(0,50,150)),
  color-stop(0.50, rgb(0,150,255))
  );
}

.wave{
  background:#a8e3ff;
  display:inline-block;
  height:20%;
  width:10px;
  position:absolute;
  -webkit-animation-name: waveMovement;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out;
}

#eventContainer {
  display: flex;
  flex-flow: row no-wrap;
  width: 1000px;
  height: 700px;
  align-items: flex-end;
  background-color: #a8e3ff;
  margin-left: 10%;
}

#info {
  margin-left: 10px;
  width: 140px;
  transition: height .4s ease;
  color: white;
}

#year {
  border-top: 1px solid white;
  padding-top: 15px;
}

@-webkit-keyframes waveMovement{
  0%{
    height:60%;
  }
  50%{
    height:40%;
  }
  100%{
    height:60%;
  }
}

#fishtank {
  height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0.9;
}

svg#fish {
  top: 1em;
}

svg.fish{
  overflow:visible;
}

@-webkit-keyframes swim {
  0% {margin-left: -235px}
  90% {margin-left: 100%;}
  100% {margin-left: 100%;}
}

@keyframes swim {
  0% {margin-left: -235px}
  70% {margin-left: 100%;}
  100% {margin-left: 100%;}
}

.fish{
  width: 250px;
  height: 120px;
  margin-left: -235px;
  position: absolute;
  animation: swim 20s;
  -webkit-animation: swim 20s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
fill:#528484;

  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

svg #fish2{
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

svg #fish3{
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

svg #fish4{
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

svg #fish5{
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

svg #fish6{
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

/**/
@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}

@keyframes fadeOut {
    0% {
        visibility: visible;
        display: block;
        opacity: 1.0;
    }

    65% {
      visibility: visible;
      display: block;
      opacity: 1.0;
    }

    100% {
      visibility: hidden;
      opacity: 0.0;
      display: none;
    }
}

@keyframes in-n-out {
    0% {
      width:  600px;
        background-color: RGBA(37, 37, 37, .8);
   }
    65% {
      width: 600px;
        background-color: RGBA(37, 37, 37, .8);
    }

    100% {
        width:125px;
          background-color: RGBA(37, 37, 37, 0.0);
    }
}
