header {
  top: 0;
  left: 0;
  height: 100px;
  padding: 15px;
  z-index: 9;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
  header .appName {
    color: #3b3a36;
    font-size: 60px;
    -webkit-justify-content: center;
    justify-content: center;
    align-text: center; }
    header .appName #numbertwo {
      font-size: 20px; }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.group:after {
  content: "";
  display: table;
  clear: both; }

#main {
  padding-top: 50px;
  height: 100%;
  background-color: rgba(255, 233, 174, 0.85); }

body,
html {
  height: 100%;
  background: url("/images/sand-text.jpg") repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif; }

.map {
  width: 100%;
  height: 69%;
  box-shadow: 10px 10px 5px grey; }

.map-application {
  height: 100%;
  padding-top: 50px; }

.scale.wave1 {
  background: #D1FAD7;
  height: 18px;
  width: 18px; }

.scale.wave2 {
  background: #16C72E;
  height: 22px;
  width: 22px; }

.scale.wave3 {
  background: #fae596;
  height: 26px;
  width: 26px; }

.scale.wave4 {
  background: #EEE966;
  height: 30px;
  width: 30px; }

.scale.wave5 {
  background: #F4A09C;
  height: 34px;
  width: 34px; }

.scale.wave6 {
  background: #E83A30;
  height: 38px;
  width: 38px; }

.gps_ring {
  background: #E83A30;
  border-radius: 30px;
  height: 18px;
  width: 18px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; }
  .gps_ring.wave1 {
    height: 18px;
    width: 18px; }
  .gps_ring.wave2 {
    height: 22px;
    width: 22px; }
  .gps_ring.wave3 {
    height: 26px;
    width: 26px; }
  .gps_ring.wave4 {
    height: 30px;
    width: 30px; }
  .gps_ring.wave5 {
    height: 34px;
    width: 34px; }
  .gps_ring.wave6 {
    height: 38px;
    width: 38px; }

.custom-popup {
  color: #FDF5E6; }

.help-text {
  align: top;
  color: #8B6914;
  font-size: 14px;
  margin-top: 20px;
  text-align: center; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0; } }
