header {
  top: 0;
  left: 0;
  height: 150px;
  padding: 15px;
  z-index: 9;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center; }
  header .appName {
    color: #e9ece5;
    font-size: 60px;
    -webkit-justify-content: center;
    justify-content: center;
    align-text: center; }
    header .appName #numbertwo {
      font-size: 20px; }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.group:after {
  content: "";
  display: table;
  clear: both; }

#main {
  height: 100%; }

body,
html {
  height: 100%;
  background-image: url("/images/underwater.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif; }

.map {
  width: 100%;
  height: 69%; }

.map-application {
  height: 100%;
  padding-top: 50px; }

.gps_ring {
  background: aqua;
  -webkit-border-radius: 30px;
  height: 18px;
  width: 18px;
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite; }
  .gps_ring.wave1 {
    background: #AFB2B7;
    height: 18px;
    width: 18px; }
  .gps_ring.wave2 {
    background: #919AA1;
    height: 20px;
    width: 20px; }
  .gps_ring.wave3 {
    background: #7D8494;
    height: 22px;
    width: 22px; }
  .gps_ring.wave4 {
    background: #717D95;
    height: 24px;
    width: 24px; }
  .gps_ring.wave5 {
    background: #687691;
    height: 26px;
    width: 26px; }
  .gps_ring.wave6 {
    background: #556179;
    height: 28px;
    width: 28px; }
  .gps_ring.wave7 {
    background: #434E62;
    height: 30px;
    width: 30px; }
  .gps_ring.wave8 {
    background: #303B4F;
    height: 32px;
    width: 32px; }
  .gps_ring.wave9 {
    background: #1A2131;
    height: 34px;
    width: 34px; }
  .gps_ring.wave10 {
    background: #151922;
    height: 36px;
    width: 36px; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0; } }
