#container {
  height: 600px;
  width: 800px;
  background-color: red;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

#water {
  width: 800px;
  height: 200px;
  background-color: blue;
  transition: height .3s ease;
}