body {
  font-family: sans-serif;
}
@keyframes spin{
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.fu-progress {
  position: relative;
  width: 250px;
  height: 250px;
  border: 5px solid rgb(23, 139, 202);
  border-radius: 50% !important;

  .fu-inner {
    position: absolute;
    overflow:hidden;

    z-index: 2;

    width: 240px;
    height: 240px;
    border: 5px solid #ffffff;
    border-radius: 10% !important;

    .water {
      position: absolute;
      z-index: 1;
      background: rgba(23, 139, 202, 0.5);
      width: 200%;
      height: 200%;

      transform: translateZ(0);
      -webkit-transform: translateZ(0);

      transition: all 1s ease !important;
      -webkit-transition: all 1s ease !important;

      top: 50%;
      left: -50%;
      border: 1px solid transparent;
      border-radius: 40% !important;

       animation-duration: 10s;
       animation-name: spin;
       animation-iteration-count: infinite;
       animation-timing-function: linear;
    }

    .glare {
      position: absolute;
      top: -120%;
      left: -120%;
      z-index: 5;
      width:200%;
      height: 200%;
      transform: rotate(45deg);
      background: #ffffff;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
    }

    .fu-percent {
      position: absolute;
      top: 57px;
      width: 100%;
      height: 100%;

      font-size: 6em;
      font-weight: bold;
      color: rgb(4, 86, 129);
      text-align: center;
    }
  }
}
